.spinner {
  display: inline-block;
  border: 3.3px solid var(--color-border);
  border-top-color: var(--color-primary);
  border-radius: var(--radius-full);
  animation: spin 1s linear infinite;
}
.sm {
  width: 17.6px;
  height: 17.6px;
  border-width: 2.2px;
}
.md {
  width: 26.4px;
  height: 26.4px;
}
.lg {
  width: 52.8px;
  height: 52.8px;
  border-width: 4.4px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
